---
layout: info
title: People
billboard_class: billboard-river-smile
---

<section class="container content-section text-center">
  <h2>Our Families</h2>
  <p>
    We would be nothing if it wasn't for the love and support
    of our wonderful parents and siblings.
  </p>
  <div class="row">
    {% for family in site.people.families %}
      <div class="{% if forloop.first %} col-lg-offset-1 {% endif %} col-lg-5 col-sm-6">
        <div class="thumbnail thumbnail-portrait">
          <img src="/img/people/optimized/{{ family.pic }}" class="img-thumbnail" alt="{{ family.name }}" title="{{ family.name }}">
          <div class="caption">
            <h4>{{ family.name }}</h4>
            <p>{{ family.people }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<section class="container content-section text-center">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <h2>Sponsors</h2>
      <p>
        Per Filipino tradition, these wonderful role models will be
        serving as our marriage sponsors.
      </p>
      <p>
        Dr. Al Abad and Mrs. Cynthia Abad
        <br>
        Mr. Troy Pilapil and Mrs. Christine Pilapil
        <br>
        Mr. Clyde Castillo and Mrs. Celina Castillo
        <br>
        Mr. Ramon Maloles and Ms. Wilhelmina Maloles
        <br>
        Mr. Glenville DaSilva and Mrs. Lucette Virginkar
      </p>
    </div>
  </div>
</section>

<section class="container content-section text-center">
  <h2>Little Ones</h2>
  <p>
    We’re so lucky to have such sweet (and adorable!) nieces and nephews to help us celebrate the big day.
  </p>
  <div class="row">
    {% for kid in site.people.kids %}
      <div class="{% if forloop.first %} col-md-offset-2 col-sm-offset-2 {% else %} col-md-offset-1 {% endif %} col-md-2 col-sm-3">
        <div class="thumbnail thumbnail-portrait">
          <img src="/img/people/optimized/{{ kid.pic }}" class="img-thumbnail" alt="{{ kid.name }}" title="{{ kid.name }}">
          <div class="caption">
            <p>
              {{ kid.name }}
              <br>
              <small>{{ kid.title }}</small>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<section class="container content-section text-center">
  <h2>Squad</h2>
  {% for her in site.people.her_side %}
    {% assign his = site.people.his_side[forloop.index0] %}
    <div class="row">
      <div class="col-sm-3 col-md-offset-1 col-md-3 col-xs-6" style="margin-bottom: 60px">
        <img class="img-thumbnail img-responsive" src="/img/people/optimized/{{ her.pic }}" alt="{{ her.name }}" title="{{ her.name }}">
      </div>
      <p class="col-sm-3 col-md-2 col-xs-6 text-left">
        {{ her.name }}<br><small>{{ her.role }}</small>
      </p>

      <div class="clearfix visible-xs-block"></div>

      {% if his %}
        <p class="col-sm-3 col-md-2 col-xs-6 text-right">
          {{ his.name }}<br><small>{{ his.role }}</small>
        </p>
        <div class="col-sm-3 col-md-3 col-xs-6" style="margin-bottom: 60px">
          <img class="img-thumbnail img-responsive" src="/img/people/optimized/{{ his.pic }}" alt="{{ his.name }}" title="{{ his.name }}">
        </div>
      {% endif %}
    </div>
  {% endfor %}

  <!-- <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4 text-left">
      {% for person in site.people.her_side %}
        <div class="row" style="margin-bottom: 35px">
          <div class="col-xs-6">
            <img class="img-thumbnail" src="/img/people/optimized/{{ person.pic }}" alt="{{ person.name }}" title="{{ person.name }}">
          </div>
          <p class="col-xs-6">
            {{ person.name }}
            <br>
            <small>{{ person.role }}</small>
          </p>
        </div>
      {% endfor %}
    </div>


    <div class="col-lg-4 text-right">
      {% for person in site.people.his_side %}
        <div class="row" style="margin-bottom: 35px">
          <p class="col-lg-6">
            {{ person.name }}
            <br>
            <small>{{ person.role }}</small>
          </p>
          <div class="col-lg-6">
            <img class="img-thumbnail" src="/img/people/optimized/{{ person.pic }}" alt="{{ person.name }}" title="{{ person.name }}">
          </div>
        </div>
      {% endfor %}
    </div>
  </div> -->
</section>
