<!-- Carousel Section -->
<section id="carousel" class="container carousel-section text-center">
<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="img/caro1.jpg" height="640" width="960" alt="" />
		</div>
		<div class="slide">
			<img src="img/caro2.jpg" height="640" width="960" alt="" />
		</div>
		<div class="slide">
			<img src="img/caro3.jpg" height="640" width="960" alt="" />
		</div>
		<div class="slide">
			<img src="img/caro1.jpg" height="640" width="960" alt="" />
		</div>
		<div class="slide">
			<img src="img/caro2.jpg" height="640" width="960" alt="" />
		</div>
		<div class="slide">
			<img src="img/caro3.jpg" height="640" width="960" alt="" />
		</div>

	</div>
</div>
</section>





.carousel-section {
	align-items: center;
	background: #E3E3E3;
	display: flex;
	height: 640vh;
	justify-content: center;
}

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scrollbg {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-960px * 3))}
}


// Styling
.carousel .slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 640px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 2000px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 640px;
		position: absolute;
		width: auto;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scrollbg $animationSpeed linear infinite;
		display: flex;
		width: calc(960px * 6);
	}
	
	.slide-track .slide {
		height: 640px;
		width: 960px;
	}
}

